.navigation-bar {
  display: flex;
  gap: 30px;
  text-align: center;
  align-items: center;
}

.navigation-bar__link {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navigation-bar__register-link {
  color: #fff;
}

.navigation-bar__register-link:hover {
  opacity: 0.7;
}

.navigation-bar__login-link {
  box-sizing: border-box;
  padding: 8px;
  width: 76px;
  height: 32px;
  color: #000;
  background-color: #3DDC84;
  border-radius: 3px;
}

.navigation-bar__login-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 737px) {
  .navigation-bar {
    gap: 14px;
  }
}
