.form-top {
  display: flex;
  flex-direction: column;
  padding: 70px 0 40px;
}

.form-top__logo {
  width: 38px;
  height: 38px;
  background-image: url("../../images/logo.svg");
}

.form-top__logo:hover {
  opacity: 0.8;
}

.form-top__title {
  color: #fff;
  margin: 40px 0 0;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1249px) {
  .form-top {
    padding-top: 232px;
  }
}

@media screen and (max-width: 737px) {
  .form-top {
    padding: 56px 0 80px;
    align-items: center;
  }

  .form-top__title {
    margin-top: 50px;
  }
}
