.portfolio-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 90px;
  box-sizing: border-box;
  color: #FFF;
  border-bottom: #424242 solid 1px;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio-item:last-child {
  border-bottom: none;
}

.portfolio-item__link {
  width: 29px;
  height: 60px;
  position: absolute;
  top: 15px;
  right: 0;
  cursor: pointer;
}

.portfolio-item__link:hover {
  opacity: 0.7;
}

.portfolio-item__arrow {
  width: 29px;
  height: 60px;
}

@media screen and (max-width: 1249px) {
  .portfolio-item {
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio-item__arrow {
    width: 27px;
  }
}

@media screen and (max-width: 737px) {
  .portfolio-item {
    height: 68px;
    font-size: 18px;
    line-height: 28px;
    border-bottom: #E6E6E6 solid 1px;
  }

  .portfolio-item__arrow {
    width: 18px;
    height: 28px;
    top: 16px;
  }
}
